.accomodation-section {
  width: 82rem;
  margin: 40px auto;
}

.accomodation-section h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.accomodations-div {
  height: 330px;
  display: flex;
  overflow-x: scroll;
  column-gap: 15px;
  scrollbar-width: none;
}

.accomodation {
  min-width: 230px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-size: cover;
  overflow: hidden;
}

.accomodation p {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  margin: 0;
  padding: 10px;
}
