.accomodation-section {
  width: 82rem;
  margin: 40px auto;
}

.accomodation-section h1 {
  margin-bottom: 20px;
  font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  color: rgb(25, 30, 59);
}

.accomodations-div {
  height: 330px;
  display: flex;
  overflow-x: scroll;
  column-gap: 15px;
  scrollbar-width: none;
}

.accomodation {
  min-width: 230px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-size: cover;
  overflow: hidden;
}

.accomodation p {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  margin: 0;
  padding: 10px;
  font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  color: white;
}
